@model Lab4_3_AspNetMVC_BlindDating.ViewModels.InboxViewModel

@{
    ViewData["Title"] = "Inbox View";
}

<h2>Index</h2>

@*<p>
    <a asp-action="NewMessage">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Subject
            </th>
            <th>
                From
            </th>
            <th>
                Photo
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in @Model.mailMessages) {
        <tr>
            <td>
                @item.MessageTitle)
            </td>
            <td>
                @Model.fromProfiles.FirstOrDefault(id => id.Id == item.FromProfileId).DisplayName
            </td>
            <td>
                <img src="~/userPhotos/@Model.fromProfiles.FirstOrDefault(id => id.Id == item.FromProfileId).PhotoPath" width="75" height="75" />
            </td>
            <td>                
                <a asp-action="Read" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
